<% provide(:title,"パスワード変更") %>
<div id="edit_pass">
  <h1>パスワード編集</h1>
  <%= form_for(resource, as: resource_name, url: update_password_path, html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form">
      <h2>パスワード変更</h2>
      <div class="field" >
        <%= f.label :現在のパスワード %>
        <%= f.password_field :current_password, autofocus: true,  placeholder:'現在のパスワード'%>
      </div>
      <div class="field1" >
    　  <%= f.label :新しいパスワード %>
        <%= f.password_field :password, autofocus: true, placeholder: '6文字以上'%>
      </div>　
      <div class="field2" >
    　   <%= f.label :新しいパスワード（確認）%>
        <%= f.password_field :password_confirmation, autofocus: true, placeholder: '6文字以上'%>
      </div>
      <div class="button">
        <p><%= f.submit "更新" %></p>
      </div>
    </div>
  <% end %>
</div>
