<% provide(:title,"記事一覧") %>
<div id="article" class="container">
  <h2>プラン一覧</h2>
    <%= search_form_for @q do |f| %>
      <div class="serch text-right">
        <p>
          <%= f.label :キーワード %>
          <%= f.search_field :period_or_language_or_title_or_country_cont,  class: "col-md-3 ml-30%" %>
        </p>
        <%= f.select( :sorts,{'タイトル':'title ASC', '新しい記事順': 'id desc','古い記事順': 'id asc','価格の安い順': 'price asc', '価格の高い順': 'price desc'})%>
        <%= f.submit "検索" %>
      </div>
    <% end %>
    <div>
     <%= link_to "ランキング", article_article_ranking_path %>
    </div>
    <div class="card-body row d-flex justify-content-center" >
      <% @articles.each do |article| %>
        <div class="card border-dark m-4 col-md-3.5">
          <%= image_tag article.images.to_s, :class=>"card-img-top" %>
          <div class="rate text-left">

            <% if article.rate_averate == 0%>
              <td>レビューなし</td>
            <% elsif article.rate_averate == 5%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>          
              </td>
            <% elsif article.rate_averate == 4%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>          
              </td>

            <% elsif article.rate_averate == 3%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
              </td>

            <%elsif article.rate_averate == 2%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>          
              </td>

            <%elsif article.rate_averate == 1%>
              <td>
                <i class="fas fa-star rate-good"></i>
              </td>
            <%end%>
        　</div>
        　<div class="name text-right" >
            <%= link_to article.user.name, "/abroads/#{article.user_id}" %>
          </div>
          <h4 class="card-title text-center"  >
            <p><%=link_to article.title, "/articles/#{article.id}"%></p>
          </h4>
          <div class = "text-left" id="article_<%= article.id %>" >
            <%= render 'article', article: article %>
          </div>
        </div>
      <% end %>
    </div>
    <%= page_entries_info @articles %>
    <div class="text-left">
      <%= paginate @articles %>
    </div>
  <% if current_user.company_user? && !(current_user == @user) %>
    <div class="text-right">
      <div class="btn btn-primary text-center">
      　<%= link_to "新規投稿", " /articles/new" %>
      </div>
    </div>
  <% end %>
</div>