<div id="article" class="container">
  <h2>記事一覧</h2>
    <%= search_form_for @q do |f| %>
      <div class="text-right">
        <%= f.search_field :title_cont, class: "col-md-3 ml-30%" %>
        <%= f.submit "検索" %>
      </div>
    <% end %>
    <div >
     <%= sort_link(@q, :title, "タイトル") %>
    </div>
    <div class="card-body row d-flex justify-content-center" >
      <% @articles.each do |article| %>
        <div class="card border-dark m-4 col-md-3.5">
          <%= image_tag article.images.to_s, :class=>"card-img-top" %>
          <div class="rate text-left">

            <% if article.rate_averate == 0%>
              <td>レビューなし</td>
            <% elsif article.rate_averate == 5%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>          
              </td>
            <% elsif article.rate_averate == 4%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>          
              </td>

            <% elsif article.rate_averate == 3%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>
              </td>

            <%elsif article.rate_averate == 2%>
              <td>
                <i class="fas fa-star rate-good"></i>
                <i class="fas fa-star rate-good"></i>          
              </td>

            <%elsif article.rate_averate == 1%>
              <td>
                <i class="fas fa-star rate-good"></i>
              </td>
            <%end%>
        　</div>
        　<div class="name text-right" >
            <%= link_to article.user.name, "/abroads/#{article.user_id}" %>
          </div>
          <h4 class="card-title text-center"  >
            <p><%= article.title %></p>
          </h4>
          <a href="/articles/<%= article.id %>" class="stretched-link"></a>
        </div>
      <% end %>
    </div>
    <%= page_entries_info @articles %>
    <div class="text-left">
      <%= paginate @articles %>
    </div>
  <% if current_user.company_user? && !(current_user == @user) %>
    <div class="text-right">
      <div class="btn btn-primary text-center">
      　<%= link_to "新規投稿", " /articles/new" %>
      </div>
    </div>
  <% end %>
</div>