<% provide(:title,"プラン詳細") %>
<div id="artshow" class="container">
  <h2>プラン詳細</h2>
  <div class="all ">
    <div class= "plan btn btn-primary">
      <%= link_to 'プラン一覧',"/articles/" %>
    </div>
  </div>
  <table class="table">
	  <thead>
		  <tr>
        <th>プラン</th>
        <td><%= @articles.title %></td>
      </tr> 
      <tr>
        <th>会社名</th>
        <td>
          <%= link_to @articles.user.name, "/abroads/#{@articles.user_id}"%>
        </td>
      </tr> 
      <tr>
        <th>費用</th>
        <td><%= @articles.price %>円～</td>
      </tr>
      <tr>
        <th>国</th>
        <td><%= @articles.country %></td>
      </tr>
      <tr>
        <th>言語</th>
        <td><%= @articles.language %></td>
      </tr>
      <tr>
        <th>期間</th>
        <td><%= @articles.period %></td>
      </tr>
      <tr>
        <th>プラン詳細</th>
        <td><%= @articles.description %></td>
      </tr> 
      <tr>
        <th class="align-middle">画像</th>
        <td><%= image_tag @articles.images.to_s %></td>
      </tr>
    </thead>
  </table>
  <div class="panel panel-default">
    <div class="panel-heading">レビュー</div>
      <% @comments.each do |c| %>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="review">
            <%= c.user.name %>
            <% if c.score == 0%>
              レビューなし
            <%elsif c.score == 5%>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>          
            <%elsif c.score == 4%>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>          

            <%elsif c.score == 3%>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>
            <%elsif c.score == 2%>
              <i class="fas fa-star rate-good"></i>
              <i class="fas fa-star rate-good"></i>          
            <%elsif c.score == 1%>
              <i class="fas fa-star rate-good"></i>
            <%end%>
          </p>
          <p class="comment"><%= c.comment %></p>
          <time datetime="<%= c.created_at %>">
  　　　　  　　　<%= time_ago_in_words(c.created_at) %>前
　　　　　</time>
      </ul>
      <% end %>
  </div>
  <div class="all">
    <% if user_signed_in? && @articles.user.id == current_user.id %>
      <div class= "edit btn btn-primary">
        <%= link_to '編集', "/articles/#{@articles.id}/edit/" %>
      </div>
      <div class= "dele btn btn-primary">
        <%= link_to '削除', "/articles/#{@articles.id}", method: :delete %>
      </div>
    <% end %>
    <div class= "review btn btn-primary">
      <%= link_to 'レビューを書く', new_article_rate_path(@articles) %>
    </div>
  </div>
</div>
