<% provide(:title,"レビュー") %>
<div class="container" id="rate">
  <h1>記事レビューを書く</h1>
  <h3>記事： <%= @article.title %><br>会社名：<%= @article.user.name %></h>
    <h4>満足度</h4><br>
    <div id="stars" >  
      &nbsp<i class="fas fa-star rate-good"></i>
           <i class="fas fa-star rate-good"></i>
           <i class="fas fa-star rate-good"></i>
           <i class="fas fa-star rate-good"></i>
           <i class="fas fa-star rate-good"></i>
    </div>
    <div class="comment">
      <%= form_for([@article, Rate.new]) do |f| %>
        <%= f.hidden_field :score ,id: "target_value"%>
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control'%>
        </div>
        <div class="review">
          <%= f.submit 'レビュー投稿', class: 'btn btn-primary btn-block'%>
        </div>
      <% end %>
    </div>
</div>